.show {
    display: block;
    animation: fadeIn 0.5s;
}

.hide {
    display: none;
    animation: fadeOut 0.5s;
}

.image-to-show {
    position: absolute;
    top: 0;
    left: 5px;
    width: 400px;
    height: 400px;
}

.images-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

button {
    width: 100px;
    height: 50px;
    margin-bottom: 20px;
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}